* {
  margin: 0;
  padding: 0;
}
.header {
  padding-top: 40px;
  padding-bottom: 84px;
}
.title {
  margin-bottom: 17px;
}
.btn {
  margin-top: 37px;
}
.top__info {
  margin-bottom: 103px;
}
.top__icon {
  padding: 97px 0;
}
